body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  background: #fff;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: white;
  z-index: 100;
}

.logo-area {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 28px;  /* アイコンサイズ */
  height: 28px;
  margin-right: 8px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
}

.menu-toggle {
  font-size: 28px;
  cursor: pointer;
  display: block; /* 常に表示 */
}

.hero {
  width: 100%;
  overflow: hidden;
  padding: 0 15px;
  box-sizing: border-box;
}

.slider {
  display: flex;
  gap: 15px;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.slide {
  flex: 0 0 80%; /* 横幅を80%にして見切れ感を出す */
  scroll-snap-align: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s ease;
}


.slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.catch {
  text-align: center;
  padding: 60px 20px;
}

.catch h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.catch p {
  font-size: 18px;
  color: #555;
}

.works-preview {
  text-align: center;
  padding: 60px 20px;
}

.works-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.work-item img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.view-all {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #333;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

footer {
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #ccc;
  color: #888;
}

footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

footer .insta-icon img {
  width: 28px;
  height: 28px;
}
